extends layout/main-layout.pug
block content
    section.revSection
        h2 What people are saying
        .revContainer
            .revCard.active
                img(src='user1.jpg' alt='User 1')
                h3 Alexis Hernandez
                p
                    | &ldquo;This page is really beautiful. The best thing is the smooth slider with great UI design.&rdquo;
            .revCard
                img(src='user2.jpg' alt='User 2')
                h3 John Doe
                p
                    | &ldquo;Amazing experience! I love the design and how seamless everything works.&rdquo;
            .revCard
                img(src='user3.jpg' alt='User 3')
                h3 Jane Smith
                p
                    | &ldquo;One of the best testimonial sections I&apos;ve seen on a website. Great work!&rdquo;
        .dots
            span.dot.active(onclick='changeSlide(0)')
            span.dot(onclick='changeSlide(1)')
            span.dot(onclick='changeSlide(2)')
    script(src='/js/kikoClient.js')
