extends layout/main-layout.pug

block content
    section.revSection
        h2 What people are saying
        .revPages
        //--------conde will be generated here-------
    script(src='/js/kikoClient.js')
