extends layout/main-layout.pug

block content
   <div class="loginForm">
    <h1>Logga in!</h1>
    <input type="email" placeholder="Epostadress"></input>
    <input type="password" placeholder="Lösenord"></input>
    <button class="loggaInBtn" type="button">Logga in</button>
    <h4 href ="">Skapa konto</h4>
    </div>