extends layout/main-layout.pug
block content
    a.backAllMovies(href='/movies') Show all movies
    article.movie
        if movie.attributes.image
            img.moviesImg(src=movie.attributes.image.url, alt="")
            .cardInfo
                h2.moviesName #{movie.attributes.title}
                .moviesDes!= movie.attributes.intro

    // Include the review section from kiko.pug
    section.revSection(movie=movie.id)
        h2 What people are saying
        .revPages
        //--------content will be generated here-------

    // Include the script for review.js
    script(src='/js/review.js')