extends layout/main-layout.pug

block content
    section.revSection
        h2 What people are saying
        .revPages
        //--------content will be generated here-------
    script(src='/js/review.js')
