doctype html
html(lang="sv")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(type="module", src="/js/password.js", defer)
    title Skapa konto
  body
    .container
      h2 Skapa konto

      form#registerForm
        .form-row
          .form-group
            label(for="firstname") Förnamn*
            input(type="text" id="firstName" name="firstName" required)
          .form-group
            label(for="lastname") Efternamn*
            input(type="text" id="lastName" name="lastName" required)

        .form-row
          .form-group
            label(for="email") Mailadress
            input(type="email" id="email" name="email" required)
          .form-group
            label(for="phone") Telefon*
            input(type="tel" id="phoneNumber" name="phoneNumber" required)

        .form-row
          .form-group
            label(for="lösenord") Lösenord
            input(type="lösenord" id="password" name="password" required)
          .form-group
            label(for="upprepaLösenord") Upprepa Lösenord*
            input(type="upprepaLösenord" id="repeatedPassword" name="repeatedPassword" required)

        .form-group
          button(type="submit") Skapa konto
