.header {
  display: grid;
  padding: 20px;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: colorAnimation 8s ease-in-out infinite;
}
.header .logo-navbar {
  display: flex;
}
.header .logo-navbar .logo {
  border-radius: 30px 30px 0px 30px;
}
.header .logo-navbar .logo .kino-logo {
  max-width: 200px;
  max-width: 200px;
}
.header .nav-title-container {
  display: grid;
  width: 100%;
  max-height: 100px;
}
.header .nav-title-container h1,
.header .nav-title-container h2 {
  color: white;
}
.header .nav-title-container h1 {
  margin: 0px;
  padding-bottom: 10px;
}
.header .nav-title-container .navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: colorAnimation 3s ease-in-out infinite;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 0px;
  z-index: 1000;
}
.header .nav-title-container .navbar-container a {
  font-family: "Work Sans", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  z-index: 0;
  padding: 0px 5px;
}
.header .nav-title-container .navbar-container a:hover {
  color: white;
}
.header .nav-title-container .navbar-container a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scaleY(3);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  z-index: -1;
}
.header .nav-title-container .navbar-container a:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

.upperSection {
  position: relative;
}
.upperSection .seatImg {
  max-width: 100%;
}
.upperSection .kinoImg {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
}
.upperSection .searchSection {
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 45%;
  left: 48%;
  transform: translateX(-50%);
  min-width: 40vw;
  min-height: 5vh;
  animation: shrink both;
  animation-timeline: view();
}
.upperSection .searchSection .searchBar {
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding-left: 10px;
  min-width: 100%;
  animation: roundBorderSearchBar both;
  animation-timeline: view();
}
.upperSection .searchSection .searchBar:focus {
  outline: none;
}
.upperSection .searchSection .searchBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(205, 205, 205);
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  animation: roundBorderBtn both;
  animation-timeline: view();
}
.upperSection .searchSection .searchBtn:hover {
  background-color: #ffb509;
  color: white;
}

@keyframes roundBorderSearchBar {
  100% {
    border-radius: 30px 0px 0px 30px;
  }
}
@keyframes roundBorderBtn {
  100% {
    border-radius: 0px 30px 30px 0px;
  }
}
.avatarSection {
  position: relative;
}
.avatarSection .highlightsImgs {
  max-width: 100%;
}
.avatarSection .avatarImg {
  position: absolute;
  max-width: 60%;
  min-height: 50%;
  top: 30%;
  left: 40%;
  animation: slide both linear;
  animation-timeline: view();
}

@keyframes slide {
  0% {
    left: 40%;
  }
  50% {
    left: 20%;
  }
  100% {
    left: 18%;
  }
}
.scrollingSections {
  display: grid;
}
.scrollingSections h1 {
  margin: 40px 0px;
  place-self: center;
  font-family: "Work Sans", sans-serif;
  user-select: none;
  color: white;
}
.scrollingSections .picsListDown {
  margin-bottom: 10px;
  display: flex;
  list-style-type: none;
  width: 86%;
  height: 100px;
  padding: 10px 0px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 3%, rgb(0, 0, 0) 97%, rgba(0, 0, 0, 0));
}
.scrollingSections .picsListDown .pics {
  left: max(1350px, 100%);
  height: 90px;
  min-width: 150px;
  max-width: 150px;
  position: absolute;
  animation: scroll 30s linear infinite;
  background-color: aliceblue;
  border-radius: 10px;
}
.scrollingSections .picsListDown .pic1 {
  animation-delay: -45s;
}
.scrollingSections .picsListDown .pic2 {
  animation-delay: -41.25s;
}
.scrollingSections .picsListDown .pic3 {
  animation-delay: -37.5s;
}
.scrollingSections .picsListDown .pic4 {
  animation-delay: -33.75s;
}
.scrollingSections .picsListDown .pic5 {
  animation-delay: -30s;
}
.scrollingSections .picsListDown .pic6 {
  animation-delay: -26.25s;
}
.scrollingSections .picsListDown .pic7 {
  animation-delay: -22.5s;
}
.scrollingSections .picsListDown .pic8 {
  animation-delay: -18.75s;
}
.scrollingSections .picsListUp {
  margin-top: 20px;
  display: flex;
  list-style-type: none;
  width: 86%;
  height: 100px;
  padding: 10px 0px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 3%, rgb(0, 0, 0) 97%, rgba(0, 0, 0, 0));
}
.scrollingSections .picsListUp .pic {
  right: max(1350px, 100%);
  height: 90px;
  min-width: 150px;
  max-width: 150px;
  position: absolute;
  animation: scrollRight 30s linear infinite;
  background-color: aliceblue;
  border-radius: 10px;
}
.scrollingSections .picsListUp .picx1 {
  animation-delay: -45s;
}
.scrollingSections .picsListUp .picx2 {
  animation-delay: -41.25s;
}
.scrollingSections .picsListUp .picx3 {
  animation-delay: -37.5s;
}
.scrollingSections .picsListUp .picx4 {
  animation-delay: -33.75s;
}
.scrollingSections .picsListUp .picx5 {
  animation-delay: -30s;
}
.scrollingSections .picsListUp .picx6 {
  animation-delay: -26.25s;
}
.scrollingSections .picsListUp .picx7 {
  animation-delay: -22.5s;
}
.scrollingSections .picsListUp .picx8 {
  animation-delay: -18.75s;
}

@keyframes scrollRight {
  to {
    right: -150px;
  }
}
@keyframes scroll {
  to {
    left: -150px;
  }
}
.hidden {
  display: none;
}

.filterSection {
  margin-top: 100px;
  position: relative;
}
.filterSection .filterBtn {
  position: absolute;
  padding: 20px 15px;
  font-size: larger;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 206, 206);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999px;
}
.filterSection .filterBtn:hover {
  background-color: red;
  color: white;
}
.filterSection .filterMenu {
  display: grid;
  place-self: center;
  padding: 50px;
  box-shadow: black 0px 0px 3px 0.8px;
  border-radius: 20px;
  user-select: none;
  background-color: aliceblue;
}
.filterSection .filterMenu .line {
  margin-top: 30px;
  margin-bottom: 30px;
}
.filterSection .filterMenu .tagsContainer {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.filterSection .filterMenu .tagsContainer .tags {
  font-family: "Work Sans", sans-serif;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0.008px;
  background-color: #101827;
}
.filterSection .filterMenu .tagsContainer .tags:hover {
  background-color: aqua;
  color: white;
}
.filterSection .filterMenu .filterByInputSection {
  display: flex;
  justify-content: space-between;
}
.filterSection .filterMenu .filterByInputSection .containerLeft {
  display: flex;
}
.filterSection .filterMenu .filterByInputSection .containerLeft .input {
  width: 150px;
  padding-left: 5px;
  border: none;
  box-shadow: black 0px 0px 0px 0.3px;
  border-radius: 7px;
}
.filterSection .filterMenu .filterByInputSection .containerLeft .input:focus {
  outline: none;
}
.filterSection .filterMenu .filterByInputSection p {
  padding: 10px;
}
.filterSection .filterMenu .filterByInputSection .containerRight {
  display: flex;
}
.filterSection .filterMenu .filterByInputSection .containerRight .input {
  width: 150px;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: black 0px 0px 0px 0.3px;
}
.filterSection .filterMenu .submitBtn {
  padding: 10px 20px;
  max-width: fit-content;
  place-self: center;
  border-radius: 9px;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: black 0px 0px 6px 0.3px;
  background-color: #2d7dfe;
}
.filterSection .filterMenu .submitBtn:hover {
  background-color: #ffb509;
  color: white;
}

.moviesLine {
  margin: 100px 0px;
}

.moviesSection {
  padding: 0px 20px 0px 20px;
}
.moviesSection .cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-items: center;
}
.moviesSection .cardContainer .movieCard {
  display: grid;
  background-color: #101827;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.moviesSection .cardContainer .movieCard:hover {
  box-shadow: #ffb509 0px 0px 9px 4px;
  scale: 1.009;
}
.moviesSection .cardContainer .movieCard .moviesImg {
  width: 100%;
}
.moviesSection .cardContainer .movieCard .cardInfo {
  display: grid;
  padding: 10px;
  font-family: sans-serif;
}
.moviesSection .cardContainer .movieCard .cardInfo .moviesName {
  color: white;
  font-family: "Work Sans", sans-serif;
  place-self: center;
}
.moviesSection .cardContainer .movieCard .cardInfo .moviesDes {
  color: white;
  font-family: "Work Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moviesSection .cardContainer .movieCard .cardInfo .buyBtn {
  margin-top: 20px;
  max-width: fit-content;
  place-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #2d7dfe;
}
.moviesSection .cardContainer .movieCard .cardInfo .buyBtn:hover {
  background-color: #ffb509;
  color: white;
}

.footer {
  padding: 0px 50px 100px 0px;
  display: flex;
  justify-content: space-evenly;
}
.footer .containerLeft {
  display: grid;
  color: white;
}
.footer .containerLeft h1,
.footer .containerLeft p {
  font-family: "Work Sans", sans-serif;
  padding: 10px 0px;
  font-size: large;
}
.footer .containerMid {
  display: grid;
  color: white;
}
.footer .containerMid h1,
.footer .containerMid p {
  font-family: "Work Sans", sans-serif;
  padding: 10px 0px;
  font-size: large;
}
.footer .containerRight {
  display: grid;
  color: white;
}
.footer .containerRight h1,
.footer .containerRight p {
  font-family: "Work Sans", sans-serif;
  padding: 10px 0px;
  font-size: large;
}

@keyframes shrink {
  0% {
    min-width: 40vw;
  }
  100% {
    min-width: 20vw;
  }
}
@keyframes colorAnimation {
  0% {
    background-position: 0 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
#moviesPageBody {
  background-color: #0e0e1b;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #ffffff;
}

header {
  background-color: #0e0e1b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .kinoLogo {
  max-width: 100vw;
  height: auto;
  margin-bottom: 1rem;
}
header .navContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  width: 95%;
  gap: 1rem;
}
header .headerNav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
header .headerNav .headerNavItem {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
header .searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .searchBar .searchInput {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}
header .searchBar .searchBtn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #175dcc;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
header .cinemaSeats {
  width: 100%;
}
header .cinemaSeats .picUnderNav {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", serif;
}

.skiReviewerSection {
  background-color: #0e0e1b;
  display: flex;
  padding-top: 30px;
  gap: 1rem;
  justify-content: center;
}

.skiReviewer {
  width: 25vw;
  border-radius: 20%;
}

.movieModalWrapper {
  position: fixed;
  background-color: #0e0e1b;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.allMoviesBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #175dcc;
  color: white;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.backAllMovies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #175dcc;
  color: white;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  width: 200px;
  min-height: 30px;
  text-decoration: none;
}

.exitBtn {
  color: white;
  font-size: 50px;
  display: block;
  position: relative;
  float: right;
  margin: 2rem;
  cursor: pointer;
}

/* moviecontent layout */
.movieContent {
  display: grid;
  grid-template-rows: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  margin-top: 2rem;
  color: #ffffff;
}

.mediaWrapper {
  grid-row-start: 1;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 2rem;
  margin-bottom: 5rem;
}
.mediaWrapper .movieTrailer {
  width: 60%;
  flex-shrink: 0;
  height: 100%;
}
.mediaWrapper .movieImg {
  width: calc(40% - 2rem);
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.movieInfoBox {
  grid-row-start: 2;
  display: flex;
  gap: 2rem;
  height: 520px;
}
.movieInfoBox .leftColumn {
  width: 40%;
  flex-shrink: 0;
}
.movieInfoBox .leftColumn .modalBtn {
  display: block;
  margin: 2rem 0;
}
.movieInfoBox .leftColumn .extraInfo {
  border: 1px solid rgba(181, 204, 245, 0.1);
  padding: 45px 40px;
}
.movieInfoBox .leftColumn .extraInfo .leftHeader {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.movieInfoBox .leftColumn .extraInfo .listHeader {
  font-size: 1rem;
  padding: 0.2rem 0;
  color: #d3dae2;
  opacity: 0.5;
}
.movieInfoBox .leftColumn .extraInfo .listInfo {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.movieInfoBox .rightColumn {
  width: calc(60% - 2rem);
}
.movieInfoBox .rightColumn .rightTitle {
  font-size: 2.5rem;
  padding: 2rem 0;
}
.movieInfoBox .rightColumn .descriptionContainer p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.topTitle {
  place-self: center;
  font-family: sans-serif;
  margin-top: 50px;
  color: black;
}

.lineX {
  margin-top: 50px;
}

.topThree {
  display: grid;
  grid-template-columns: minmax(0, 1.8fr) minmax(0, 1fr);
  gap: 5px;
  margin: 5%;
  overflow: hidden;
  border-radius: 10px;
  user-select: none;
  box-shadow: black 0px 0px 9px 0.01px;
}
.topThree button {
  padding: 10px 20px;
  border: none;
  font-family: sans-serif;
  border-radius: 7px;
  cursor: pointer;
  max-height: fit-content;
  background-color: blue;
  color: white;
}
.topThree button:hover {
  background-color: white;
  color: black;
}
.topThree .containerLeft {
  background-color: #0e0e1b;
}
.topThree .containerLeft .imgLeft {
  width: 100%;
  height: 89%;
}
.topThree .containerLeft .imgLeft:hover {
  opacity: 0.8;
}
.topThree .containerLeft .infoCard {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.topThree .containerRight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.topThree .containerRight .movieCardTop {
  background-color: #0e0e1b;
}
.topThree .containerRight .movieCardTop .imgTop {
  max-width: 100%;
  max-height: 100%;
}
.topThree .containerRight .movieCardTop .imgTop:hover {
  opacity: 0.8;
}
.topThree .containerRight .movieCardTop .infoCard {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.topThree .containerRight .movieCardBottom {
  background-color: #0e0e1b;
}
.topThree .containerRight .movieCardBottom .imgBottom {
  max-width: 100%;
  max-height: 100%;
}
.topThree .containerRight .movieCardBottom .imgBottom:hover {
  opacity: 0.8;
}
.topThree .containerRight .movieCardBottom .infoCard {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.upComingEvents {
  display: grid;
}
.upComingEvents .eventLine {
  margin: 50px 0px;
}
.upComingEvents h2 {
  color: black;
  margin-left: 50px;
}
.upComingEvents .cardsContainer {
  margin: 0px 30px 0px 30px;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.upComingEvents .cardsContainer .eventCard {
  display: grid;
  background-color: #0e0e1b;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 20px;
}
.upComingEvents .cardsContainer .eventCard .eventInfo {
  color: white;
  margin-left: 10px;
}
.upComingEvents .cardsContainer .eventCard #eventBtn {
  max-width: fit-content;
  place-self: end;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.upComingEvents .cardsContainer .eventCard #eventBtn:hover {
  background-color: blue;
  color: white;
}

footer {
  background-color: #0e0e1b;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}
footer nav {
  display: grid;
  padding-top: 5rem;
  grid-template-columns: 17rem 17rem 17rem auto;
  grid-template-rows: auto auto auto;
}
footer .footerNav {
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  padding: 0.5rem 5rem 0.5rem 5rem;
  width: 100%;
}
footer .footerAboutUsLink {
  grid-column: 1;
  grid-row: 1;
}
footer .footerAllMoviesLink {
  grid-column: 1;
  grid-row: 2;
}
footer .footerInstagramLink {
  grid-column: 2;
  grid-row: 1;
}
footer .footerFacebookLink {
  grid-column: 2;
  grid-row: 2;
}
footer .footerXLink {
  grid-column: 2;
  grid-row: 3;
  padding-bottom: 3rem;
}
footer .footerTosLink {
  grid-column: 3;
  grid-row: 1;
}
footer .footerPrivacyPolicyLink {
  grid-column: 3;
  grid-row: 2;
}

.allMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

.movieWrapper {
  background-color: #101827;
  display: grid;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.movieWrapper:hover {
  box-shadow: 0 0 9px 4px rgba(255, 181, 9, 0.5);
  transform: scale(1.009);
}

.movieImage {
  width: 100%;
  object-fit: cover;
}

.movieCardHeader {
  color: white;
  text-align: center;
  padding: 10px;
}

.movieBtn {
  max-width: fit-content;
  place-self: end;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #2d7dfe;
  color: white;
  transition: background-color 0.2s;
}

.movieBtn:hover {
  background-color: #ffb509;
  color: white;
}

/* article movie */
article.movie {
  display: flex;
  width: 80%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e0e1b;
}
article.movie .moviesImg {
  width: 40%;
  height: 100%;
  flex-shrink: 0;
  align-self: center;
}
article.movie .cardInfo {
  align-self: flex-start;
  width: 60%;
  flex-shrink: 0;
  padding: 2rem;
}
article.movie .cardInfo h2,
article.movie .cardInfo p {
  padding-top: 0.5rem;
}

/* error pages */
.errorBody {
  background-color: #0e0e1b;
  margin-top: 10rem;
}
.errorBody h1 {
  text-align: center;
}
.errorBody .backTo {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  width: 200px;
  min-height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#reviewForm {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  background-color: black;
  color: white;
  margin: 2rem auto;
  max-width: fit-content;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

input, select, textarea {
  color: black;
  background-color: white;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 5px;
}

#name {
  grid-column: 1;
  grid-row: 2;
}

#rating {
  grid-column: 2;
  grid-row: 2;
}

#comment {
  grid-column: 3;
  grid-row: 2;
}

#submitBtn {
  grid-column: 3;
  grid-row: 3;
  background-color: white;
  color: black;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

#submitBtn:hover {
  background-color: gray;
  color: white;
}

/* screenings */
.screeningsTable {
  background-color: #0e0e1b;
  margin: 0.5rem 0 5rem 0;
  padding: 2rem;
}
.screeningsTable h2,
.screeningsTable h3 {
  text-align: center;
  padding: 0.5rem;
}
.screeningsTable ul li {
  text-align: center;
  list-style-type: none;
}

/* form moviePage */
.movieRating {
  background-color: #0e0e1b;
}

.upcomingScreenings {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  background-color: #0e0e1b;
  color: #ffffff;
  padding: 2rem 5rem 2rem 5rem;
  margin: 1.5rem;
  border-radius: 10px;
  box-shadow: black 0px 0px 9px 0.01px;
}
.upcomingScreenings ul {
  list-style-type: none;
}

.screeningsTitle {
  grid-column: 1;
  padding: 1rem;
}

.screeningsDate {
  grid-column: 2;
  padding: 1rem;
}

.screeningsTime {
  grid-column: 3;
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
