footer
    nav
        a.footerNav.footerAboutUsLink(href="#") Om oss
        a.footerNav.footerAllMoviesLink(href="#") Alla filmer
        a.footerNav.footerInstagramLink(href="#") Instagram
        a.footerNav.footerFacebookLink(href="#") Facebook
        a.footerNav.footerXLink(href="#") X
        a.footerNav.footerTosLink(href="#") ToS
        a.footerNav.footerPrivacyPolicyLink(href="#") Privacy policy
