doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title #{pageTitle}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", media="screen", href="static/main.css")
    script(type="module", src="js/main.js", defer)
    script(src="https://kit.fontawesome.com/8357c99e29.js", crossorigin="anonymous")
    <!-- The script above needs to be added on every single HTML file that contains movie cards -->
  body
    header
      img.kinoLogo(src="Pictures/logoHead.png", alt="logotyp för Kino", usemap="#logoMap")
      map(name="logoMap")
        area(shape="rect", coords="225,10,573,143", href="index.html", alt="Kino")
      .navContainer
        nav.headerNav
          a.headerNavItem(href="moviesPage.html") Movies
          a.headerNavItem(href="#") Link
          a.headerNavItem(href="#") Link
        .searchBar
          input.searchInput(type="search", placeholder="Search...")
          button.searchBtn Search
      figure.cinemaSeats
        img.picUnderNav(src="/pictures/seats.png", alt="Image under the navbar not found!")