doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    each item in menuItems
      if item.active
        title #{item.label}
        break
        if item.label == 'Movie'
          script(type="module", src="/js/fetchFromAPI.js", defer)
        else
          if item.label !== 'Movies'
            script(type="module", src="/js/main.js", defer)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", media="screen", href="/static/main.css")
    script(src="https://kit.fontawesome.com/8357c99e29.js", crossorigin="anonymous")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-GLFTCMDD0D")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GLFTCMDD0D');
    <!-- The script above needs to be added on every single HTML file that contains movie cards -->
  body
    header
      img.kinoLogo(src="/pictures/logoHead.png", alt="logotyp för Kino", usemap="#logoMap")
      map(name="logoMap")
        area(shape="rect", coords="225,10,573,143", href="/home", alt="Kino")
      a(class='button' class="loginBtn" href='/login') Login
      .navContainer
        nav.headerNav
          each ele in menuItems
            if ele.label !== 'Movie'
              a.headerNavItem(href=ele.link) #{ele.label}
        .searchBar
          input.searchInput(type="search", placeholder="Search...")
          button.searchBtn Search
      figure.cinemaSeats
        img.picUnderNav(src="/pictures/seats.png", alt="Image under the navbar not found!")
