main
    section.upperSection
        button.allMoviesBtn(type="button") Show all movies
        h2.topTitle Top three movies
        hr.lineX
        figure.topThree
    section.mid
        section.filterSection
            form
    section.allMovies
        h2.topTitle All movies
        figure.movies
    section.extraSection
    section.lowerSection
        figure.upComingMovies
        .upComingEvents
            hr.eventLine
            h2 Kommande evenemang
            .cardsContainer
                .eventCard
                    img.eventImg(src="pictures/event1.png", alt="Event image not found")
                    p.eventInfo Here goes the information about event
                    button.fa-solid.fa-film#eventBtn Ticket
                .eventCard
                    img.eventImg(src="pictures/event1.png", alt="Event image not found")
                    p.eventInfo Here goes the information about event
                    button.fa-solid.fa-film#eventBtn Ticket
                .eventCard
                    img.eventImg(src="pictures/event1.png", alt="Event image not found")
                    p.eventInfo Here goes the information about event
                    button.fa-solid.fa-film#eventBtn Ticket
